* {
  box-sizing: border-box;
}
body {
  font-family: "Arial Narrow";
  margin: 0;
}
li {
  list-style: none;

}
/*syamsul*/
.kotak {
  width: 100%;
  padding: 0 100px;
  margin: 0 auto;
}

.lesson-wrapper {
  height: 100%;
  padding-bottom: 80px;
  background-color: #ffefdb;
  text-align: center;
}

.heading {
  padding-top: 30px;
  padding-bottom: 30px;
}

.heading h2 {
  font-weight: bold;
  color:#e17055;
  font-size: 30px;
}

.lesson {
  float: left;
  width: 16%;
  padding: 15px;
}

.lesson-icon {
  opacity: 0.6;
}

.lesson-icon:hover {
  opacity: 1.0;
}

.lesson-icon p {
  font-weight: bold;
  color: #e17055;
}


.txt-contents {
  width: 80%;
  display: inline-block;
  font-size: 15px;
  margin: 0;
  opacity: 0.8;
}
.clear {
  clear: left;
}
/*Ahmad*/
.bot-wrapper {
  background-image: url(http://4.bp.blogspot.com/_ycO0qvHDawk/TKYm0yI1J4I/AAAAAAAADmE/FPcnrLiPyoo/s1600/-20071104_Fernwood+Walks_044.jpeg);
  height: 100%;
  background-size: cover;
}
.filter {
  background-color:rgba(70, 40, 2, 0.884);
  padding-top: 20px;
  padding-bottom: 80px;
}
.contacts {
  width: 50%;
  text-align: center;
  float: left;
}
.title-contact h2 {
  color:rgb(236, 162, 93);
}
.title-contact i {
  color:white;
  font-size: 30px;
  margin: 0 5px;
}
.description-contact p {
  color: white;
  font-size: 14px;
  height: 18px;
  padding: 0;
  margin: 2px 0;
}
.bold-txt {
  font-weight: bold;
}
.form-section {
  float: right;
  width: 50%;
  margin-top: 80px;
  text-align: center;
}
input, textarea {
  padding: 5px;
  width: 75%;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 5px;
}
.kirim {
  background-color: rgb(236, 162, 93);
  color: white;
}

.icon-img {
  width: 100px;
  height:auto;
}

/*footer*/
.footer {
  padding: 5px 30px;
  border-top: 1px solid #949494;
  background-color: #ffefdb;
  color: rgb(163, 161, 159);
  opacity: 0.8;
}

.footer p{
  font-size: 12px;
}
.left-foot {
  float: left;
}

.right-foot {
  float: right;
}

/*header*/
a {
  text-decoration: none;
}

header {
  width: 100%;
  position: fixed;
  top:0;
  z-index: 10;
  padding: 0 80px;
  background-color: #FFE4C4;
  text-align: center;
}

.hide-btn {
  color: #FF8C00;
  opacity: 0.6;
  font-size: 30px;
  display: none;
  position: fixed;
  top: 50px;
  right: 20px;
}

.header-left {
  margin: 0px 0px;
  width: 150px;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 20px;
}
.header-left h1 {
 color: #FF8C00;
 margin: 5px 0 0 0;
 font-weight: bold;
 font-size: 25px;
 font-style: italic;
}
.header-left p {
  margin: 0 0 20px 0;
  font-size: 10px;
  font-style: italic;
  opacity: 0.6;
}

.header-left img {
  width: 100px;
  height: auto;
  padding: 0px 0px;
  margin: 20px 0 0 0;
}

.header-mid {
  float:left;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  top: 20px;
  left: 200px;
  width: 100%;
  margin: 20px 0 20px 100px;
}

.header-mid2 {
  transition: 0.5s;
  width: 100%;
  margin: 0 0 30px 100px;
}

.btn {
  padding: 12px 12px;
  color:#FF8C00;
  opacity: 0.6;
}

.btn:hover {
  opacity:1;
}

.btn:active {
  box-shadow:none;
  position:relative;
  top: 4px;
}

/*image*/
.image-wrapper img {
  height: auto;
  width: 100%;
  max-height: 600px;
}

/*TOP-WRAPPER*/
.container {
  width: 1170px;
  margin: 0 auto;
}
.bton {
  padding: 12px 24px;
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.bton:hover {
  opacity: 1;
}
.row {
    margin: 0;
}

.section-about-inner{
  width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  padding-bottom: 80px;
  height: 250px;
}
.about-wrapper {
  text-align: center;

}
.col-lg-3 {
    float: left;
    width: 30%;
    margin: 0 60px; 
}
.col-lg-4 img {
  margin: 0 25px;
}
.about-title {
  border-right: 1px solid #ff8f00;
  padding-right: 20px;
  font-family: "nihlah", Arial, sans-serif;  
  font-size: 60px;
  color: #ff8f00;
  font-size: 35px;
}
.about-desc {
  text-align: center;
  margin-top: 15px;
}
.about-desc p {
  font-size: 14px;
  color: #c26d00;
}
.btn-about {
  margin-top: 20px;
  background: transparent;
  border: 1px solid #ff8f00;
  color: #ff8f00;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  border-radius: 5px;
}
.about-tagline {
  font-size: 13px;
  padding-left: 10px;
  color: #ff8f00;
}
